body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  color: #edf5e1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5cdb95;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
